@font-face {
    font-family: "Raleway";
    src: url("../images/raleway_thin.eot");
    src: local("Raleway"), url("../images/raleway_thin.ttf") format("truetype");
}


body {
    font-family:  "Droid Sans", "Bitstream Vera Sans", helvetica, arial, sans-serif;
    font-size: 14px;
    background-color: #1A1F1E;
    color: #fff;
    line-height: 1.5;
}

a:link { 
    color:  #93CCC6; 
    text-decoration: none;
    border-bottom: 1px dotted #93CCC6;
}
a:visited { 
    color: #93CCC6;
    text-decoration: none;
    border-bottom: 1px dotted #93CCC6;
}
a:hover { 
    color: #fff; 
    text-decoration: none;
    border-bottom: 1px dotted #fff;
}
a:active { 
    color:#fff; 
    text-decoration: none;
    border-bottom: 1px dotted #fff;
}

h1,h2,h3,h4,h5,h6 {
    display: inline;
    line-height: 1.2;
}


li {
    margin-bottom: 1.5em;
    margin-top: 1.5em;
}

li ul li {
    padding: 0em;
    margin-top: 0;
    margin-bottom: 0;
}

li ul {
    margin-top: 1.5em;
    margin-left: 2em;
}

a img {
    border: none;
}


#picture {
    border: none;
}

#title {
    font-family: "Raleway", "Calibri", Verdana, sans-serif;
    text-align: center;
    margin: 5pt;
    font-size: 6.5em;
}



#navbar ul
{
    padding: .2em 0;
    margin: auto;
    list-style-type: none;
    text-align:center;
    width: 800px;
    /*font-weight: 200;*/
    font-size: 2em;
    font-family: "Raleway", "Calibri", Verdana, sans-serif;
    border-bottom: 1pt solid #93CCC6; 
    line-height: normal;
}

#navbar li { 
    display: inline;
}

#navbar #active a { 
    background-color: #93CCC6; 
     color: #1A1F1E; 
    margin: 0;
}

#navbar li a {
    text-decoration: none;
    color: #93CCC6;
    padding: .2em 1em;
    border: none;
}

#navbar a:hover {
    background-color:  #93CCC6;
    color: #fff;
}

#navbar #active a:hover {
    background-color:  #93CCC6;
    color: #fff;
}

#content {
    margin: auto;
    padding: 20px;
    width: 780px;
}

#content img {
    float: left;
    border: 0;
    margin-right: 3em;
    margin-bottom: 1em;
}

#email:before{
    content:"blackwel\40 fas.harvard.edu"
}

#contact {

}

#footer {
    margin: auto;
    margin-top: 2.5em;
    margin-bottom: 1em;
    padding: 2px;
    width: 780px;
    border-top: 1pt dotted white;
    font-size: .8em;
    clear: left;
}

.vcard {
    text-align: left;
    clear: none;
}

#sites {
    float: right;
    text-align: right;
}

.project-title {
    border-bottom: 1px dotted #E3DFBA;
    /*border-bottom: 1px solid #fb8b00;*/
    color: #E3DFBA;
    padding: 2px;
    /* background-color: #E3DFBA; */
    font-size: 150%;
    font-family: Raleway, "Calibri", Verdana, sans-serif;
    /*text-transform: uppercase;*/
    width: 100%;
    /* font-weight: bold; */
}

.project-title a {
    color: #E3DFBA;
    border: none;
}

.project {
    padding-bottom: 2em;
}

.project img {
    padding-top: 10px;
}

.project li {
    margin: .2em;
}
