---
layout: default
title: Software
slug: software
---

<div class ="category-name">
<h3>Software Projects</h3>
</div>
{% for project in site.categories.software %}
  <div class="project-title">
  </div>
  <div class="is-row">
  <div class="is-col is-30">
{% if project.image %}
<img src="{{project.image}}" alt="{{project.image-alt}}" />
{% endif %}


</div>
  <div class="is-col is-70">
    <b>{{project.title}}</b>     {% if project.link %} 
    <a href="{{project.link}}" class="boxlink">project page</a>
    {% endif %}
    
    {{project.content}}
  </div>
</div>
{% endfor %}
