---
layout: default
title: Resources
slug: resources
---

{% for project in site.categories.resources %}
<div class="project">
  <div class="project-title">
    {% if project.link %} 
    <a href="{{project.link}}">{{project.title}} (→)</a>
    {% else %}
    {{project.title}}
    {% endif %}
  </div>
{% if project.image %}
<div class="span-8">
<img src="{{project.image}}" alt="{{project.image-alt}}" />
</div>
{% endif %}
<!-- <div class="span-16 last"> -->
{{project.content}}
<!-- </div> -->
</div>
{% endfor %}
