---
layout: default
slug: teaching
title: Teaching
---

<div class ="category-name">
<h3>Courses</h3>
</div>
{% assign wpByYear = site.teaching | sort: "date" | group_by_exp:"post", "post.date | date: '%Y'"  %}
{% for year in wpByYear reversed %}
<div class="is-row">
<div class="is-col is-10 paperlist">
  {{year.name}}
</div>
<div class="is-col is-90 paperlist">
  <ul>
    {% for paper in year.items %}
    <li> <b>{{paper.title}}</b> {% if paper.syllabus %} 
      <a href="{{paper.syllabus}}" class="boxlink">syllabus</a>
        {% endif %}
      <a href="{{paper.url}}" class="boxlink">course materials</a>
    </li>
    <li>{{paper.excerpt}}</li>
      {% endfor %}
    </ul>
</div>
</div>
{% endfor %}
